@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #faf9f8;
}

.content {
	flex-basis: 100%;
	padding: 90px 70px;
	transition: margin-left 1s;
}

.content-with-sidebar {
	padding: 90px 250px;

}

@media only screen and (max-width: 768px) {
	.content {
		flex-basis: 100%;
		padding: 90px 50px;
		transition: margin-left 1s;
	}

	.content-with-sidebar {
		padding: 90px 200px;
	}

}

/* title */
.title {
	color: #2564cf;
	display: flex;
	text-decoration: none;
	margin-bottom: 5px;
}

.title span {
	margin-left: 10px;
}

/* InputTODO */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Segoe UI", Arial, sans-serif;
	line-height: 1.4;
	color: #444;
	background: #fff;
	height: 100vh;
}

.container {
	position: absolute;
	padding: 3rem 0 4rem;
	justify-content: right;
	align-items: flex-end;
	margin: auto;
	min-width: 75vw;
	float: right;
}

.inner {
	width: 100%;
	padding: 3rem 0 4rem;
}

.form-container {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
	justify-content: space-evenly;
}

.input-text {
	font-size: 1rem;
	font-weight: 400;
	width: 85%;
	padding-right: 5px;
	padding-left: 10px;
}

.input-text::placeholder {
	color: #000;
}

.input-submit {
	background: transparent;
	color: #5b5b5b;
	text-transform: capitalize;
	cursor: pointer;
	font-weight: 600;
	margin-right: 10px;
}

.input-text,
.input-submit {
	height: 45px;
	outline: none;
	border: none;
}