.header-nav {
    background-color: #2564cf;
    height: 7%;
    width: 100%;
    position: fixed;
    display: block;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
}

.nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 1.5rem;
    margin-bottom: 5px;
}

@media only screen and (max-width: 450px) {
    .header-nav {
        height: 7%;
    }


}