side {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15%;
	min-height: 100%;
	background-color: #ffffff;
	padding: 2rem 1rem 1rem 1rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.28);
	/* transition: transform 1s; */
}

.sidebar {
	transform: translateX(-100%);
}

.notif {
	float: right !important;
}

.side-btn {
	position: absolute;
	transform: translateX(38px);
	top: 20px;
	right: 0;
	width: 40px;
	height: 60px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	outline: none;
	border: none;
	font-size: 1rem;
	padding: 5px 10px;
	cursor: pointer;
	color: #535352;
}

.divider {
	height: 0.5px;
	width: 100%;
	background-color: #a6a5a5;
}

.logo {
	display: block;
	width: 100px;
	margin: auto;
	background: transparent;
}

.logo img {
	display: block;
	width: 100%;
	height: 100%;
}

.icon-bar {
	padding: 10px 1rem;
	cursor: pointer;
}

.side-link {
	display: flex;
	align-items: center;
	color: #535352;
	text-decoration: none;
	padding: 10px 1rem;
	border-radius: 5px;
	margin-bottom: 5px;
}

.side-link:hover {
	background-color: #f5f5f5;
}

.side-link:focus {
	background-color: #eff6fc;
}

.side-link span {
	margin-left: 10px;
}

.side-top {
	margin-top: 50px;
}

.mobile-side {
	width: 100%;
	height: 40px;
	display: none;
	z-index: 999999;
}

.mobile-side-btn {
	color: white;
	background: transparent;
	outline: none;
	border: none;
	margin: 0 10px;
	z-index: 999999;
}

@media only screen and (max-width: 768px) {
	side {
		width: 45%;
		padding: 10px;
	}
}

/* @media only screen and (max-width: 450px) {
	.mobile-side {
		display: flex;
		align-items: center;
	}

	side {
		width: 70%;
		top: 15px;
		min-height: calc(100vh - 38px);
	}

	.side-btn {
		display: none;
	}
} */